body {
  padding: 0;
  margin: 0 auto;
  font-family: Montserrat;
}

.red-border {
  border: 3px solid red;
}

html, body, section, div, form, a, button, input, textarea, label, img {
  outline: none;
}
