.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100px;
  width: 100%;
  background: #222222;
}

.footer__ltd {
  color: white;
  font-size: 0.8rem;
  margin: 0;
  padding: 0
}
