body{
    background-color: rgba(241, 233, 225, .4);
}

.submitOrg{
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submitOrg__content{
  display: flex;
  flex-direction: column;
  margin-bottom: 3vh;
}

.submitOrg__submit{
 background-color: rgba(5, 4, 7, 0.9);
 border: none;
 color: white;
 width: 120px;
 height: 45px;
 font-size: 17px;
 font-family: inherit;
 cursor: pointer;
}

.submitOrg__submit__div{
  display: flex;
  justify-content: center;
}

.submitOrg__logo{
  display: flex;
  min-height: 68px;
  align-self: flex-start;
  min-width: 123px;
  padding-left: 1.2vw;
  background-image: url(/assets/imgs/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.submitOrg__container{
  width: 60vw;
  align-self: center;
  margin-top: 15vh;
}

.submitOrg__title{
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 6vw;
  text-align: right;
  letter-spacing: 0.05em;
  font-family: inherit;
  color: rgba(5, 4, 7, 0.8);
}

.submitOrg__input{
  border: none;
  background-color: inherit;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  outline: none;
  margin-top: 2vh;
  height: 8vh;
  padding-left: 15px;
}

.submitOrg__input:focus{
  border-bottom: 1px solid rgba(250, 59, 40, 0.6);
}

.submitOrg__question{
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.85);
  font-family: inherit;
  font-size: 1.6vw;
  margin-bottom: 10vh;
}

.submitOrg__textarea{
  height: 10vh;
  resize: none;
  outline: none;
}

.submitOrg__select{
  display: block;
  margin: 30px 0;
  padding: 10px 50px 10px 10px;
  background-color: inherit;
  color: rgba(0, 0, 0, 0.85);
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  outline: none;
}

.submitOrg__select:focus{
  border-bottom: 1px solid rgba(250, 59, 40, 0.6);
}

.submitOrg__select option {
  color: rgba(0, 0, 0, 0.85);
  border: none;
  outline: none
}

@media only screen and (max-width: 600px) {
  .submitOrg__question{
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.85);
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 3vw;
  }
  .submitOrg__container{
    margin-top: 10vh;
  }
  .submitOrg__input{
    margin-top: 1vh;
  }

  .submitOrg__logo{
    align-self: center;
  }
}
