.header{
  background-color: #FFD600;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  padding-bottom: 45px;
}

.header__navbar{
  display: flex;
  justify-content: space-between;
}

.header__navbar__logo{
  min-height: 68px;
  min-width: 123px;
  padding-left: 1.2vw;
  background-image: url(/assets/imgs/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.header__navbar__submit button {
  height: 40px;
  max-width: 40vw;
  margin: 14px 15px 0 0;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fa3b28;
  background: transparent;
  color: #fa3b28;
  font-family: inherit;
  outline: none;
  cursor: pointer;
}

.header__navbar__submit button:hover {
  border: 1px solid #fa3b28;
  background: #fa3b28;
  color: #ffd600;
  font-weight: bold;
}

.header__navbar__submit button a {
  width: 100%;
  height: 100%
}

.header__container{
  width: 80vw;
  align-self: center;
}

.header__content__paragraph{
  font-size: 6vw;
  color: #FFFFFF;
  font-weight: bold;
  letter-spacing: normal;
  padding-left: 3.35vw;
}

.header__content__description{
  font-size: 2vw;
  color: rgba(250, 59, 40, 0.8);
  text-align: center;
  font-weight: bolder;
}

.header__content__taps{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.taps{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header__box{
  width: 138px;
  height: 70px;
  margin: 5px;
  flex-shrink: 1;
  border: 1px solid #FFFFFF;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  line-height: 27px;
  text-align: center;
  padding: 0 5px;
  cursor: pointer;
}

.header__box:hover, .header__box-selected {
    background-color: #ff3800;
}

a {
  text-decoration: none;
  color: inherit;
}

a :visited {
  color: inherit;
}

@media only screen and (max-width: 600px) {
  .header {
    height: 100vh;
  }
  .header__navbar {
    justify-content: space-between;
    align-items: center;
  }
  .header__navbar__submit button {
    height: 5vh;
    max-width: 40vw;
    font-weight: bolder;
    font-size: 0.6em;
  }
  .header__container {
    margin-top: 5vh;
  }
  .header__content__paragraph {
    font-size: 8vw;
    padding-left: 0
  }
  .header__box{
    width: 100px;
    height: 50px;
    font-size: 13px;
    line-height: 18px;
    margin: 5px;
  }
  .header__content__description {
    font-size: 3.5vw;
    text-align: left;
  }
  .header__content__taps {
    margin-top: 5vh;
  }
}
